# -------------------------------
# Terraform
# -------------------------------

.terraform/
*.tfstate
*.tfstate.*

# -------------------------------
# Terraform Variable Files
# -------------------------------

*.tfvars
*.tfvars.json

# -------------------------------
# Terraform Crash Logs
# -------------------------------

crash.log
crash.*.log

# -------------------------------
# Sensitive Files
# -------------------------------

*.pem
*.key
*.crt

# -------------------------------
# IDE Files
# -------------------------------

.vscode/
.idea/

# -------------------------------
# OS Files
# -------------------------------

.DS_Store
Thumbs.db

# -------------------------------
# Temporary Files
# -------------------------------

*.tmp
*.bak

# -------------------------------
# Zip Files
# -------------------------------

*.zip
